.contenedor-portada{
    height:100vh; /*100 vh para que me ocupe la anchura maxima de cada dispositivo a visualizar*/
    width: 100%;
    object-fit: contain; /*Para que sea la misma anchura sea el dispositivo que sea*/
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.6); /* Para darle un efecto de opacidad al video */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.videoPortada{
    object-fit: cover; /*para que ocupe el 100 por 100*/
    width:100%;
    height:100vh;
    position:absolute;
    z-index: -1; /*Para que el video se situe por debajo de contenedor-portada y dar un efecto de opacidad*/
}
.contenedor-portada > h1{
    color: white;
    font-size: 100px;
}
.contenedor-portada > p{
    margin-top: 8px;
    color: white;
    font-size : 32px;
}
@media screen and (max-width: 960px){
    .contenedor-portada > h1{ /*Si esta por debajo de 960 px la fuente de la portada me lo reduce a 70px*/
        font-size: 70px;
        text-align: center;
    }
    .contenedor-portada > p{
        text-align: center;
        font-size: 22px;
        width: 85%;
    }
}